$gutter: 40px;
$grid-sm: 767;
$mobile: 767px;
$grids: 12;
$black:#23262F;
$brand-color:#3B71FE;
$base-color:#FCFCFD;
$white:#ffffff;
$off-white: #E6E8EC;
$red:#EB5757;
$yellow: #FFC01E;
$text-color: #777E90;
$green:#27AE60;
$gray:#E4E5E8;
$gray-dark:#B1B5C3;
$img-path: "/public/assets/images" !default;